.DS_Store
Datasheets/.DS_Store
KiCad/.DS_Store
KiCad/fp-info-cache
KiCad/pcbway_production/.DS_Store
*.kicad_prl
/KiCad/Router-Rebooter-backups
/KiCad/RevC/Router-Rebooter-backups
KiCad/RevC/fp-info-cache
